.project {
    padding: 60px 0;
    position: relative;
    background-color: black;
    color: white;
}

.title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    line-height: 2.5em;
}

.text {
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.nav {
    width: 72%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
}

.item {
    width: 33%;
}

.link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: #fff;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}


.link.actice {
    border: 1px solid rgba(255, 255, 255, 1);
}

.panel {
    text-align: center;
    margin-top: 30px;
}

.element {
    margin-top: 30px;
}

@media (max-width: 375px) {

    .title {
        font-size: 30px;
    }

    .text {
        font-size: 12px;
    }

    .element {
        margin-left: 40px;
    }
}
