.skill {
    padding: 0 0 50px 0;
    position: relative;
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
    color: white;
    width: 80%;
    left: 10%;
}

.title {
    font-size: 45px;
}

.text {
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 2.5em;
    margin: 14px 0 75px 0;
}

@media (max-width: 660px) {

    .title {
        font-size: 30px;
    }

    .text {
        font-size: 12px;
    }

    .img {
        width: 100px;
        height: 100px;
    }

    .name {
        font-size: 15px;
    }
}
