@font-face {
  font-family: BlankSpace;
  src: url('./assets/fonts/KGBlankSpaceSolid.ttf');
  font-weight: 700;
}

@font-face {
  font-family: BlankSpaceSketch;
  src: url('./assets/fonts/KGBlankSpaceSketch.ttf');
  font-weight: 500;
}

.App {
  font-family: BlankSpace;
  overflow-x: hidden;
}

.skills {
  background-color: black;
}
